* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: $main_font;
    text-align: center;
    background: $light_grey;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.row::before, .row::after {
    content: " ";
    display: table; 
    clear: both;
}
[class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;   
}

// grid 
$grid_columns: 12;    
@for $i from 1 through $grid_columns {
    .col-#{$i} {
        width: percentage($i / $grid_columns);
    }
}