* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: $main_font;
    text-align: center;
    background: $light_grey;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
    margin: 85px 0 0 230px;
    width: calc(100% - 250px);
    background: #fff;
}
.section {
    box-shadow: 0 0 1em $grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row::before, .row::after {
    content: " ";
    display: table; 
    clear: both;
}
[class*="col-"] {
    width: 100%;
    padding: 25px;
    float: left;   
}

// Grid 
$grid_columns: 12;    
@for $i from 1 through $grid_columns {
    .col-#{$i} {
        width: percentage($i / $grid_columns);
    }
}