/* Colors */
$black: #191919;
$light_black: #333333;
$dark-grey: #979797;
$grey: #E3E3E3;
$light_grey: #F5F5F2;
$dark_orange: #F58220;
$orange: #FFA200;
$green: #04AE00;
$positive_green: #74B67A;
$positive_light_green: #96CC9B;
$red: #FF0000;
$negative_red: #DE5252;
$negative_light_red: #EC7171;
$blue: #56819F;

/* Font sizes */
$header_font_size: 16px;
$paragraph_font_size: 14px;

/* Fonts */
$main_font: 'Roboto', sans-serif;
