/* Colors */
$black: #333333;
$dark-grey: #979797;
$grey: #E3E3E3;
$light-grey: #F5F5F2;
$dark-orange: #F58220;
$orange: #FFA200;
$green: #04AE00;
$positive-green: #74B67A;
$positive-light-green: #96CC9B;
$red: #FF0000;
$negative-red: #DE5252;
$negative-light-red: #EC7171;
$blue: #56819F;


/* Font sizes */
$header-font-size: 12px;
$paragraph-font-size: 10px;

/* Fonts */
$main-font: 'Roboto', sans-serif;

//<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">