.date_refresh {
    width: 30px;
    height: 30px;
    border: none;
    margin: 0 auto;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    background: $dark_orange;
    transition: all .5s;
    &:hover {
        background: $orange;
    }
}
.links_add {
    height: 40px;
    width: 125px;
    border: none;
    margin: 20px auto;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    background: $dark_orange;
    color: #fff;
    transition: all .5s;
    &:hover {
        background-color: $orange;
    }
}
