.links {
	&_table {
        max-width: 800px;
        text-align: left;
        font-size: $paragraph_font_size;
        color: $dark_grey;
        line-height: 60px;
        border-collapse: collapse;
        &:first-of-type {
            border-top: 2px solid $grey;
        }
    }
    &_icons {
        opacity: 0;
    }
    &_row:hover {
        background: $grey;
        transition: all .3s ease-in-out;
    }
    &_row:hover &_icons {
        transition: all .3s ease-in-out;
        opacity: 1;
    }
    &_line {
        border-bottom: 2px solid $grey;
    }
    &_name {
        font-weight: 700;
        padding-left: 20px;
    }
    &_site {
    	text-decoration: none;
    	color: $blue;
    }
    &_img {
    	width: 20px;
    	height: 20px;
    	margin: 0 12px;
    	filter: invert(60%) saturate(20%) brightness(90%) contrast(80%);
        &:hover {
            filter: invert(55%) sepia(40%) saturate(1000%) hue-rotate(350deg) brightness(98%) contrast(98%);
            transition: all .3s ease-in-out;
        }
    }
}