.alert_hideB {
	display: none;
}
.alert_wrapperB {
	@include fixedStyle($top:0, $right:0, $width:100%, $height:100%);
	z-index: 3;
	background: rgba(0,0,0,0.6);
}
.banner {
	z-index: 4;
	background: #fff;
	@include fixedStyle($top:8%, $right:130px, $width:calc(100% - 260px), $height:none);
    .col_top {
    	padding-top: 0;
    }
    .col_left {
		border-right: 1px solid $grey;
		padding-left: 0;
		padding-top: 0;
    }
    .col_right {
		padding-left: 0;
		padding-top: 0;
    }
    .personal_input {
    	margin: 0;
    	width: 100%;
    }
    .icon-close {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	.postback_select {
		color: $dark_grey;
	}
	.icon-show {
		opacity: 0;
		position: absolute;
		right: 20px;
		color: $blue;
		&:hover {
			color: $orange;
		}
	}
	.postback_checkbox {
		display: flex;
		flex-direction: column;
		text-align: left;
		height: 300px;
		.checkbox_label {
			padding-left: 45px;
		}
		.checkbox {
			padding: 8px 25px;
			&:hover .icon-show {
				opacity: 1;
			}
		}
	}
	.btn_orange {
		margin: 0 auto;
	}
}