.details {
	&_table {
		margin-top: 20px;
        font-size: $paragraph_font_size;
        border-collapse: collapse;
        line-height: 60px;
	}
	&_row:hover {
		background: $grey;
        transition: all .3s ease-in-out;
	}
	&_name {
		color: $dark_grey;
		font-weight: 500;
	}
	td {
        border-bottom: 2px solid $grey;
        padding-left: 15px;
		padding-right: 15px;
    }
    &_pagination {
    	width: 100%;
		display: inline-block;
		padding-top: 30px;
		padding-bottom: 10px;
		a {
			color: $blue;
		  	padding: 8px 16px;
		  	text-decoration: none;
		  	&:first-of-type, &:last-of-type {
				padding: 8px;
			}
		}
		.details_img {
			@include icons;
		}

		a:hover:not(.active) {
			background: $light_grey;
		}
		a.active {
			background: $light_grey;
		  	color: $dark_grey;
		}
	}
}