.general {
	&_result {
		max-width: 800px;
        text-align: left;
        color: $dark_grey;
        font-size: $header_font_size;
        line-height: 30px;
    }
    &_text {
    	border-bottom: 1px solid $grey;
    	font-weight: 700;
    }
    &_no {
    	float: right;
    	font-weight: normal;
    	color: $black;
    }
}
.graphs {
	max-width: 800px;
	margin: 20px auto;
	&_header {
		text-align: left;
        padding: 20px 20px;
		font-size: $header_font_size;
		color: $dark_grey;
	}
}

[class^=calendar-icon__button] {
    border-bottom: 1px solid #9b9b9b;
}

.calendar-icon {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.calendar-icon__row {
    display: flex;
}

.calendar-icon__button--big {
    width: 17px;
    height: 4px;
    border: 1px solid #9b9b9b;
}

.calendar-icon__button {
    width: 5px;
    height: 3px;
    margin: 1px 1px 0 0;
}
