/*[class^="form_"] {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 10px;
}*/
.personal {
	&_unit {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 600px;
		margin: 0 auto;
		padding-top: 30px;
		font-size: $header_font_size;
		border-bottom: 1px solid $grey;
	}
	&_input {
		justify-content: space-around;
		margin: 25px auto;
		padding-left: 20px;
		border: 1px solid $grey;
	}
	&_label {
		width: 150px;
		height: 40px;
		line-height: 40px;
		text-align: left;
		margin: 15px 0;
		font-weight: 700;
		color: $dark_grey;
	}
	&_input {
		width: 450px;
		height: 40px;
		margin: 15px 0;
	}
}