.menu {
	top: 0;
	background: $black;
	height: 100%;
	width: 200px;
	position: fixed;
	line-height: 45px;
	text-align: left;
	&_logo {
		padding-left: 20px;
		padding-top: 20px;
	}
	&_hamburger {
		padding-left: 50px;
	}
	&_pages {
		width: 100%;
		margin: 0;
        padding: 0;
        list-style-type: none;
	}
	&_link {
		display: block;
		padding-left: 18px;
		text-decoration: none;
		font-weight: 300;
		border-left: 5px solid $black;
		color: $dark_grey;
		&:hover {
			border-left: 5px solid $dark_orange;
			background: $light_black;
			color: #fff;
		}
	}
	&_page {
		vertical-align: middle;
		padding-left: 15px;
	}
	&_line {
		border-top: 1px solid #414141;
		margin-top: 20px;
	}
	&_manager {
		text-transform: uppercase;
		font-weight: 500;
		margin-top: 20px;
		padding-left: 18px;
		color: $dark_grey;
	}
	&_avatar {
		padding-left: 18px;		
		img {
			vertical-align: middle;
		}
	}	
	&_user {
		padding-left: 8px;
		color: $blue;		
	}
}