.header {
	background: white;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid $grey;
}
.top {
	margin: 0;
	padding: 0;
	&_item {
		display: inline-block;
		border-left: 1px solid $grey;
		position: relative;
	}
	&_link {
		display: block;
		line-height: 60px;
		padding: 0 20px;
		text-decoration: none;
		&:hover {
			background: $light_grey;
		}
		.icon-arrow-down-small {
    	font-size: 12px;
    }
	}
	&_money {
		font-size: 18px;
		font-weight: 700;
		color: $dark_grey;
		margin-left: 8px;
		margin-right: 8px;
        vertical-align: middle;
	}
	&_name {
		font-size: $paragraph_font_size;
        color: $blue;
		margin-left: 8px;
		margin-right: 8px;
        vertical-align: middle;
    }
    [class*='icon-'] {
        font-size: 18px;
        color: $dark_grey; 
    }
}
.notific_circle {
	@include centerAbsolutely($top: 35%, $left: none, $right: 25%, $transform:translate(-50%, -50%));
	background: $dark_orange;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}