.header {
	background: white;
	position: fixed;
	//float: right;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid $grey;
}
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
	&_item {
		display: inline-block;
		border-right: 1px solid $grey;
		border-left: 1px solid $grey;
	}
	&_link {
		display: block;
		line-height: 60px;
		padding: 0 20px;
		text-decoration: none;
	}
	&_money {
		font-size: 18px;
		font-weight: 700;
		color: $dark_grey;
		margin-left: 8px;
		margin-right: 8px;
	}
	&_img {
		height: 20px;
		width: 20px;
		filter: invert(60%) saturate(20%) brightness(90%) contrast(80%);
	}
	&_name {
		color: $blue;
		font-size: 14px;
		margin-left: 8px;
		margin-right: 8px;
    }
}